//---------------- Mixins ----------------
@import "mixin.scss";
//---------------- Fonts -----------------
@import url("https://fonts.googleapis.com/css?family=Lexend:400,500,600,700&display=swap");
@import "iconfont";
//------------ Default font --------------
$fontFamily: "Lexend", sans-serif;
$fontSize: 62.5%;
//------------- Variables ----------------
$minWidth: 32rem;
$maxWidth: 144rem;
$maxWidthContainer: 123;

$sm: 29.998em; // 479,98px
$md: 47.998em; // 767,98px
$tab: 61.998em; // 991,98px
$laptop: 80em; // 1280px
$pc: 85.375em; // 1366px

$mainColor: #0e1735;
$purpleColor: #f0f3fd;
$lightGreen: #d1fae5;
$greenColor: #10b981;
//----------- Reset styles ---------------
@import "reset.scss";
/*-------------- Body ------------------*/
body {
	font-size: 1.6rem;

	&._lock {
		overflow: hidden;
	}
}
/*------------- Wrapper ----------------*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	@include adaptiv-value(gap, 12, 40, rem);
	> main {
		flex: 1 1 auto;
	}
}
/*------------ Container ---------------*/
[class*="__container"] {
	max-width: 117rem;
	padding: 0 1.5rem;
	margin: 0 auto;
	@media (min-width: $pc) {
		max-width: $maxWidthContainer + rem;
	}
}
[class*="__row"] {
	display: flex;
}
/*--------------- ibg ------------------*/
._ibg {
	position: relative;
	& img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
//--------------- UI ---------------------
@import "ui.scss";
//------------- Header -------------------
@import "header.scss";
/*-------------- Main ------------------*/
.main {
	// .main__hero
	&__hero {
	}
}
/*-------------- Hero ------------------*/
.hero {
	// .hero__blur-spot
	&__blur-spot {
		display: none;
		@media (min-width: $tab) {
			display: block;
			position: absolute;
			top: 0;
			left: -17.4rem;
			height: 52.3rem;
			z-index: -1;
		}
	}
	// .hero__container
	&__container {
		// position: relative;
	}
	// .hero__content
	&__content {
		display: flex;
		justify-content: center;
		text-align: center;
		@media (min-width: $tab) {
			justify-content: space-between;
			text-align: left;
		}
	}
	// .hero__column
	&__column {
		flex: 0 0 50%;
		&:nth-child(2) {
			display: none;
			@media (min-width: $tab) {
				display: block;
				position: relative;
				overflow: hidden;
			}
		}
	}
	// .hero__main
	&__main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		@include adaptiv-value(max-width, 50, 29, rem);
		@include adaptiv-value(gap, 3.2, 1.8, rem);
		@media (max-height: 31.25em) {
			padding-top: 7rem;
		}
		@media (min-height: 31.25em) {
			min-height: 100vh;
		}
	}
	// .hero__title
	&__title {
		@include adaptiv-value(max-width, 36, 29, rem);
		color: #1b1c57;
		span {
			font-family: sans-serif;
			color: transparent;
			-webkit-text-stroke: 0.1rem #1b1c57;
		}
		@media (max-width: $tab) {
			align-self: center;
		}
	}
	// .hero__text
	&__text {
		@include adaptiv-value(line-height, 2.8, 1.8, rem);
		color: rgba(98, 102, 135, 0.75);
	}
	// .hero__search
	&__search {
		display: flex;
		align-items: center;
		gap: 1.6rem;
		border: 0.1rem solid #e0e3eb;
		border-radius: 10rem;
		padding: 0.4rem 0.4rem 0.4rem 1.4rem;
		@media (min-width: $sm) {
			padding-left: 2.4rem;
		}
		&::before {
			display: none;
			@media (min-width: $sm) {
				display: block;
				color: #f59e0b;
			}
		}
	}
	// .hero__partners
	&__partners {
	}

	.search-form {
		// .search-form__input
		&__input {
			@include adaptiv-value(min-width, 30, 12, rem);
			flex: 1 1 auto;
			@media (max-width: $md) {
				&::placeholder {
					opacity: 0;
					visibility: hidden;
				}
			}
		}
		// .search-form__submit
		&__submit {
			@include adaptiv-value(min-width, 11, 7.4, rem);
			flex-direction: row-reverse;
			gap: 1rem;
			&::before {
				font-size: 1.2rem;
			}
		}
	}
	// .hero__main-image
	&__main-image {
		display: none;
		@media (min-width: $tab) {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			z-index: -1;
			width: 50%;
			border-bottom-left-radius: 8rem;
			overflow: hidden;
		}
	}
	// .hero__slider
	&__slider {
		position: absolute;
		bottom: 5%;
		left: 7%;
		width: 93%;
		height: 11.4rem;
		overflow: hidden;
	}
}
.partners {
	// .partners__title
	&__title {
		color: #888b97;
		@include adaptiv-value(margin-bottom, 5, 0.8, rem);
	}
	// .partners__logos
	&__logos {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		@include adaptiv-value(gap, 3.2, 0.8, rem);
		@media (min-width: $sm) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	// .partners__logo
	&__logo {
	}
}

.hero__slider {
}
.hero__slider .swiper-slide {
	background-color: #fff;
	display: flex;
	align-items: center;
	gap: 1.6rem;
	padding: 2.4rem;
	// width: 32.8rem;
	box-shadow: 0 1.1rem 4.8rem rgba(51, 51, 51, 0.06);
	border-radius: 3.2rem;
}
.hero__slider .slide {
	// .slide__column
	&__column {
	}
	// .slide__title
	&__title {
		font-weight: 600;
		line-height: 150%;
		color: #1b1c57;
	}
	// .slide__text
	&__text {
		font-size: 12px;
		line-height: 167%;
		color: #68799f;
	}
}
/*--------- Recommendation -------------*/
.recommendation {
	// .recommendation__container
	&__container {
	}
	// .recommendation__sub-title
	&__sub-title {
	}
	// .recommendation__top
	&__top {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		@include adaptiv-value(margin-bottom, 4, 1.2, rem);
		@media (max-width: $tab) {
			row-gap: 1.2rem;
		}
		@media (min-width: $tab) {
			align-items: center;
			flex-direction: row;
			padding-left: 4rem;
		}
	}
	// .recommendation__title
	&__title {
	}
	// .recommendation__tabs
	&__tabs {
	}
	.tabs {
		// .tabs__list
		&__list {
			display: flex;
			align-items: center;
			gap: 3.2rem;
			@media (max-width: $sm) {
				flex-wrap: wrap;
				gap: 1.2rem;
				margin-bottom: 1.2rem;
			}
		}
		// .tabs__item
		&__item {
			display: inline-flex;
			align-items: center;
			gap: 0.8rem;
			padding: 1.2rem 2.4rem;
			border: 0.1rem solid #e0e3eb;
			border-radius: 3.2rem;
			color: #888b97;
			cursor: pointer;
			transition: all 0.3s ease 0s;
			&._active {
				background-color: #d1fae5;
				color: #10b981;
				border: 0.1rem solid transparent;
				&::before {
					color: #10b981;
				}
			}
			@media (any-hover: hover) {
				&:hover {
					background-color: #d1fae5;
					color: #10b981;
					border: 0.1rem solid transparent;
					&::before {
						color: #10b981;
					}
				}
			}
			@media (max-width: $sm) {
				flex: 1 1 auto;
			}
		}
	}
	// .recommendation__slider-controlls
	&__slider-controlls {
		display: flex;
		align-items: center;
		gap: 1.6rem;
	}
	// .recommendation__body
	&__body {
		@media (min-width: $tab) {
			padding: 0rem 4rem;
		}
	}
	// .recommendation__slider
	&__slider {
	}
}

.slider-controlls {
	// .slider-controlls__button
	&__button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		min-width: 6rem;
		min-height: 5.2rem;
		background: #e0e3eb;
		border-radius: 3.2rem;
		transition: all 0.3s ease 0s;
		&::before {
			color: #3c4563;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: #10b981;
				&::before {
					color: #fff;
				}
			}
		}
		@media (max-width: $sm) {
			min-width: 5rem;
			min-height: 4.2rem;
		}
	}
	// .slider-controlls_prew
	&_prew {
		transform: rotate(180deg);
	}
	// .slider-controlls_next
	&_next {
	}
}
.recommendation .swiper-wrapper {
}
.recommendation .swiper-slide {
	@include adaptiv-value(width, 33, 29, rem);
}
.recommendation .item {
	// .item__body
	&__body {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
	}
	// .item__image
	&__image {
		position: relative;
		@include adaptiv-value(height, 38.2, 32.2, rem);
		border-radius: 2.4rem;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .item__label
	&__label {
		position: absolute;
		bottom: 1.6rem;
		left: 1.6rem;
		display: inline-flex;
		align-items: center;
		gap: 1rem;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 1.8rem;
		text-transform: capitalize;
		padding: 0.8rem 1.6rem;
		border-radius: 3.2rem;
		// .item__label_popular
		&_popular {
			color: #ef4444;
			background: #fee2e2;
		}
		// .item__label_new-house
		&_new-house {
			color: #1d4ed8;
			background: #dbeafe;
		}
		// .item__label_deals
		&_deals {
			color: #047857;
			background: #d1fae5;
		}
	}
	// .item__content
	&__content {
	}
	// .item__title
	&__title {
		font-size: 2.4rem;
		line-height: 133%;
		color: #0e1735;
		margin-bottom: 0.8rem;
	}
	// .item__price
	&__price {
		font-size: 2rem;
		line-height: 160%;
		color: #3c4563;
	}
	// .item__owner
	&__owner {
		display: flex;
		align-items: center;
		gap: 1.6rem;
	}
}
.recommendation .owner {
	// .owner__image
	&__image {
		width: 4rem;
		height: 4rem;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	// .owner__information
	&__information {
	}
	// .owner__name
	&__name {
		font-size: 1.8rem;
		line-height: 133%;
		color: #0e1735;
		margin-bottom: 0.4rem;
	}
	// .owner__city
	&__city {
		font-size: 1.4rem;
		line-height: 157%;
		color: #888b97;
	}
}
/*------------- Sell -------------------*/
.sell {
	position: relative;
	// .sell__spot
	&__spot {
		display: none;
		@media (min-width: $sm) {
			display: block;
			position: absolute;
			bottom: 0;
			right: -9.4rem;
			z-index: -1;
		}
	}
	// .sell__container
	&__container {
	}
	// .sell__sub-title
	&__sub-title {
	}
	// .sell__slider
	&__slider {
	}
}
.sell__slider .swiper {
}
.sell__slider .swiper-wrapper {
}
.sell__slider .swiper-slide {
}
.sell__slider .item {
	// .item__body
	&__body {
		position: relative;
		display: flex;
		flex-direction: column;
		@include adaptiv-value(gap, 14.8, 2, rem);
		@media (min-width: $tab) {
			flex-direction: row;
			align-items: center;
			padding-left: 4rem;
		}
	}
	// .item__column
	&__column {
		&:first-child {
			flex: 0 0 52.4/120 * 100%;
		}
		&:last-child {
			flex: 1 1 52.8/120 * 100%;
		}
	}
	// .item__title
	&__title {
		padding-top: 2.8rem;
		margin-bottom: 1.6rem;
	}
	// .item__text
	&__text {
		max-width: 41.3rem;
		font-weight: 400;
		line-height: 175%;
		color: rgba(98, 102, 135, 0.75);
		margin-bottom: 1.6rem;
	}
	// .item__details
	&__details {
	}
	// .item__owner
	&__owner {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.6rem;
		@media (min-width: $sm) {
			flex-direction: row;
			gap: 5.7rem;
		}
		@media (min-width: $pc) {
			align-items: center;
		}
	}
	// .item__image
	&__image {
		width: 100%;
		border-radius: 0.4rem;
		overflow: hidden;
		@include adaptiv-value(height, 45.9, 20, rem);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.details {
	// .details__title
	&__title {
		font-weight: 600;
		line-height: 175%;
		color: rgba(27, 28, 87, 0.75);
		margin-bottom: 1.6rem;
	}
}
.detail {
	// .detail__list
	&__list {
		display: grid;
		column-gap: 5.3rem;
		row-gap: 1.6rem;
		max-width: 44rem;
		padding-bottom: 3.2rem;
		margin-bottom: 3.2rem;
		border-bottom: 0.2rem solid #f0f3fd;
		@media (min-width: $sm) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
		}
	}
}
.list-details {
	// .list-details__item
	&__item {
		display: inline-flex;
		align-items: center;
		gap: 1.6rem;
	}
	// .list-details__image
	&__image {
	}
	// .list-details__text
	&__text {
		white-space: nowrap;
	}
}
.sell .owner {
	//. owner__main
	&__main {
		display: flex;
		align-items: center;
		gap: 2.4rem;
	}
	// .owner__image
	&__image {
		flex: 0 0 5.6rem;
		height: 5.6rem;
	}
	// .owner__information
	&__information {
		white-space: nowrap;
	}
	// .owner__name
	&__name {
		font-size: 1.8rem;
		line-height: 133%;
		color: #0e1735;
	}
	// .owner__position
	&__position {
		line-height: 150%;
		color: #888b97;
	}
	// .owner__phone
	&__phone {
		width: 16.3rem;
		height: 4.8rem;
		gap: 1.6rem;
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 157%;
		color: #ffffff;
		@media (min-width: $pc) {
			margin-left: 3.3rem;
		}
	}
}
/*------------ Review ------------------*/
.review {
	// .review__container
	&__container {
	}
	// .review__sub-title
	&__sub-title {
		text-align: center;
		flex-direction: column;
	}
	// .review__title
	&__title {
		text-align: center;
		margin-bottom: 4rem;
	}
	// .review__slider
	&__slider {
		@include adaptiv-value(max-width, 74, 29, rem);
	}
	// .review__title
	&__title {
	}
	// .review__text
	&__text {
	}
	// .review__reviewer
	&__reviewer {
	}
}
.review .swiper {
}
.review .swiper-wrapper {
}
.review .swiper-slide {
	width: 74rem;
}
.review .item {
	// .item__body
	&__body {
		position: relative;
		height: 54.05rem;
		@include adaptiv-value(max-width, 74, 29, rem);
	}
	// .item__background
	&__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 40rem;
		border-radius: 0.8rem;
		overflow: hidden;
		z-index: -1;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .item__review
	&__review {
		position: absolute;
		bottom: 3.5rem;
		left: 50%;
		max-height: 65%;
		overflow: auto;
		@include adaptiv-value(min-width, 61.02, 29, rem);
		transform: translate(-50%, 0);
		@include adaptiv-value(width, 61.02, 29, rem);
		@include adaptiv-value(padding, 3.2, 1.6, rem);
		background: #fff;
		box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
		border-radius: 1.6rem;
	}
}
.review-item {
	// .review-item__title
	&__title {
		font-weight: 600;
		font-size: 2rem;
		line-height: 2.5rem;
		text-transform: capitalize;
		color: #1b1c57;
		text-align: center;
		margin-bottom: 1.6rem;
	}
	// .review-item__text
	&__text {
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 171%;
		color: rgba(98, 102, 135, 0.75);
		margin-bottom: 2.4rem;
	}
	// .review-item__reviewer
	&__reviewer {
		display: flex;
		align-items: center;
		@include adaptiv-value(gap, 2.4, 1.6, rem);
	}
}
.reviewer {
	// .reviewer__image
	&__image {
		flex: 0 0 4rem;
		height: 4rem;
	}
	// .reviewer__data
	&__data {
		flex: 1 1 auto;
		font-size: 1.4rem;
		line-height: 157%;
		white-space: nowrap;
	}
	// .reviewer__name
	&__name {
		color: #0e1735;
		margin-bottom: 0.4rem;
	}
	// .reviewer__position
	&__position {
		color: #888b97;
	}
	// .reviewer__rating
	&__rating {
		display: inline-flex;
		align-items: center;
		align-self: flex-end;
		gap: 1.6rem;
		font-size: 2rem;
		font-weight: 600;
		line-height: 140%;
		color: #3c4563;
		&::before {
			color: #f59e0b;
		}
	}
}

/*-------------- Tips ------------------*/
.tips {
	position: relative;
	// .tips__spot
	&__spot {
		display: none;
		@media (min-width: $sm) {
			display: block;
			position: absolute;
			top: -5.6rem;
			left: -17.04rem;
			z-index: -1;
		}
	}
	// .tips__container
	&__container {
		display: flex;
		flex-direction: column;
	}
	// .tips__sub-title
	&__sub-title {
		flex-direction: column;
		text-align: center;
	}
	// .tips__title
	&__title {
		align-self: center;
		text-align: center;
		max-width: 42.04rem;
		@include adaptiv-value(margin-bottom, 2.4, 1.6, rem);
	}

	// .tips__btn-more
	&__btn-more {
		width: 11.08rem;
		align-self: center;
		@include adaptiv-value(margin-bottom, 4, 2, rem);
	}
	// .tips__body
	&__body {
		display: flex;
		flex-direction: column;
		@include adaptiv-value(gap, 6.8, 3.2, rem);
		@media (min-width: $tab) {
			justify-content: space-between;
			flex-direction: row;
		}
	}
	// .tips__column
	&__column {
		&:first-child {
			flex: 0 0 57.02 / 120 * 100%;
			display: flex;
			flex-direction: column;
			row-gap: 4rem;
		}
		&:last-child {
			flex: 0 0 56 /120 * 100%;
		}
	}
	// .tips__article
	&__article {
	}
}
.article {
	// .article__body
	&__body {
		display: flex;
		@include adaptiv-value(gap, 3.2, 1.6, rem);
		@media (max-width: $sm) {
			flex-direction: column;
		}
		@media (min-width: $tab) {
			flex-direction: row;
			align-items: center;
		}
		// .article__body_sm
		&_sm {
			display: flex;
			flex-direction: column;
			@include adaptiv-value(gap, 2.4, 1.6, rem);
			@media (min-width: $sm) and (max-width: $tab) {
				flex-direction: row;
				align-items: center;
			}
		}
	}
	// .article__image
	&__image {
		border-radius: 1.6rem;
		overflow: hidden;
		// .article__image_small
		&_small {
			flex: 0 0 20rem;
			min-height: 14.04rem;
		}
		// .article__big
		&_big {
			@media (max-width: $tab) {
				flex: 0 0 20rem;
				height: 14.04rem;
			}
			@media (min-width: $tab) {
				max-width: 56rem;
				max-height: 28rem;
			}
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .article__content
	&__content {
	}
	// .article__author
	&__author {
		display: flex;
		align-items: center;
		gap: 1.6rem;
		margin-bottom: 1.2rem;
	}
	// .article__title
	&__title {
		font-size: 1.8rem;
		line-height: 178%;
		text-transform: capitalize;
		color: #1b1c57;
		margin-bottom: 1.6rem;
	}
	// .article__information
	&__information {
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 171%;
		color: #888b97;
		display: flex;
		align-items: center;
	}
}
.author {
	// .author__image
	&__image {
		flex: 0 0 3.2rem;
		height: 3.2rem;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .author__name
	&__name {
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 157%;
		color: #3c4563;
	}
}
.information {
	// .information__item
	&__item {
		&:first-child {
			margin-right: 1.2rem;
		}
		&:nth-child(even) {
			display: flex;
			align-items: center;
			gap: 0.6rem;
			&::after {
				content: "";
				width: 0.1rem;
				height: 1.4rem;
				background-color: #888b97;
				display: inline-block;
			}
		}
		&:not(:first-child) {
			&:nth-child(odd) {
				margin-left: 0.6rem;
			}
		}
		// .information__item_read-time
		&_read-time {
		}
		// .information__item_date
		&_date {
		}
	}
}

/*----------- Subscribe ----------------*/
.subscribe {
	// .subscribe__container
	&__container {
	}
	// .subscribe__body
	&__body {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 3.2rem;
		padding: 2.4rem 0;
		border-radius: 3.2rem;
		overflow: hidden;
		@media (min-width: $md) {
			padding: 6.5rem 0;
		}
	}
	// .subscribe__title
	&__title {
		text-align: center;
		max-width: 42.4rem;
	}
	// .subscribe__form
	&__form {
		&::before {
			color: #3b82f6;
		}
		@include adaptiv-value(max-width, 50, 29, rem);
	}
	// .subscribe__background
	&__background {
		display: none;
		@media (min-width: $tab) {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.subscribe .form {
	// .form__input
	&__input {
		@include adaptiv-value(min-width, 28, 14, rem);
	}
	// .form__submit
	&__submit {
		@include adaptiv-value(min-width, 12, 10, rem);
		min-height: 4.6rem;
	}
}
//------------- Footer -------------------
@import "footer.scss";
//=====================================================================
